[defaults]
remote_user = igou
roles_path = ./roles:.ansible/roles:~/.ansible/roles
collections_path = .ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
callbacks_enabled = profile_tasks
