{{ ansible_managed | comment }}
---
apiVersion: v1
kind: Config
clusters:
  - name: ocp
    cluster:
      server: {{ lookup('env', 'K8S_AUTH_HOST') | to_json }}
      insecure-skip-tls-verify: {{ (not (lookup('env', 'K8S_AUTH_VERIFY_SSL') | default('true', true) | bool)) | lower }}
users:
  - name: deployer
    user:
      token: {{ lookup('env', 'K8S_AUTH_API_KEY') | to_json }}
contexts:
  - name: upload
    context:
      cluster: ocp
      user: deployer
      namespace: {{ codex_desktop_namespace }}
current-context: upload
