---
version: 3
images:
  base_image:
    name: quay.io/fedora/fedora:latest
options:
  package_manager_path: /usr/bin/dnf
dependencies:
  python_interpreter:
    package_system: python3.13
    python_path: /usr/bin/python3.13
  ansible_core:
    # Require minimum of 2.15 to get ansible-inventory --limit option
    package_pip: ansible-core
  ansible_runner:
    package_pip: ansible-runner
  galaxy: ../../requirements.yml
  system: |
    python3.13-devel [platform:rpm compile]
    libcurl-devel [platform:rpm compile]
    krb5-devel [platform:rpm compile]
    krb5-workstation [platform:rpm]
    subversion [platform:rpm]
    subversion [platform:dpkg]
    git-lfs [platform:rpm]
    sshpass [platform:rpm]
    rsync [platform:rpm]
    unzip [platform:rpm]
    podman-remote [platform:rpm]
    cmake [platform:rpm compile]
    gcc [platform:rpm compile]
    gcc-c++ [platform:rpm compile]
    make [platform:rpm compile]
    openssl-devel [platform:rpm compile]
    1password-cli
    terraform
    coreos-installer
    cargo
    tar
    helm
  python: |
    awxkit
    git+https://github.com/ansible/ansible-sign
    ncclient
    paramiko
    pykerberos
    distlib
    pyOpenSSL
    pypsrp[kerberos,credssp]
    pywinrm[kerberos,credssp]
    toml
    pexpect>=4.5
    python-daemon
    pyyaml
    six
    receptorctl
    boto3
    botocore
additional_build_steps:
  prepend_base: |
    RUN dnf install -y git-core
  append_base: |
    RUN $PYCMD -m pip install -U pip

    RUN echo "Target architecture is: $TARGETARCH"
    RUN pip install distlib # kubespray fix..
    # Configure Terraform Repo
    RUN curl -o /etc/yum.repos.d/hashicorp.repo https://rpm.releases.hashicorp.com/fedora/hashicorp.repo

    RUN rpm --import https://downloads.1password.com/linux/keys/1password.asc && \
    sh -c 'echo -e "[1password]\nname=1Password Stable Channel\nbaseurl=https://downloads.1password.com/linux/rpm/stable/\$basearch\nenabled=1\ngpgcheck=1\nrepo_gpgcheck=1\ngpgkey=https://downloads.1password.com/linux/keys/1password.asc" > /etc/yum.repos.d/1password.repo'

  append_final: |
    COPY --from=quay.io/ansible/receptor:devel /usr/bin/receptor /usr/bin/receptor
    RUN mkdir -p /var/run/receptor
    RUN git lfs install --system
    # SymLink `python` -> `python3.13`
    RUN alternatives --install /usr/bin/python python /usr/bin/python3.13 313
    RUN curl -L -o /usr/local/bin/kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/v5.4.3/kustomize_v5.4.3_linux_amd64.tar.gz && \
        tar xzf /usr/local/bin/kustomize -C /usr/local/bin/ && \
        chmod +x /usr/local/bin/kustomize
    # Output collections list for debugging
    RUN python -V
    RUN ansible --version
    RUN ansible-galaxy collection list