architecture: "{{ vm_arch | default('amd64') }}"
domain:
  resources:
    requests:
      memory: "{{ vm_memory }}"
      cpu:  "{{ vm_cpu_cores }}"
  devices:
    disks:
    - name: datavolumedisk
      disk:
        bus: virtio
    - name: cloudinitdisk
      disk:
        bus: virtio
volumes:
- dataVolume:
    name: "{{ vm_name }}"
  name: datavolumedisk
- name: cloudinitdisk
  cloudInitNoCloud:
    userDataBase64: "{{ vm_user_data | b64encode }}"